.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .item img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
  }
  
  .item-details {
    margin-top: 10px;
  }
  